html,
body {
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: #5BB391;
    font-family: 'Montserrat', sans-serif;
}
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 1fr;
}
/* Header */
.header {
    width: 420px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 5px;
    margin-top: 10px;
}
.header-icons {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
    align-items: center;
    justify-content: right;
}

.h-icon {
    justify-content: end;
}

/* Menu */
nav {
    max-width: 1720px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.nav-container {
    width: 100%;
}

.burger-menu {
    height: 40px;
}

.left-menu {
    grid-column: 1;
    display: none;
}
nav a{
    text-decoration: none;
}
.logo {
    grid-column: 2;
}
#nav-toggle {
    display: hidden;
  }
@media only screen and (max-width: 1025px) {
    #nav-toggle:checked ~ .left-menu {
      display: grid;
      grid-row: 2;
    }
  }                
   
/* Create 10X10 Maze */
.grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(10, minmax(42px, 42px));
    grid-template-rows: repeat(10, minmax(42px, 42px));
    grid-gap: 0;
}

/* Maze cell */
.grid-item {
    /* height: 60px;
    width: 60px; */
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C24B2C;
}
#first-page{
    width: 420px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 5px;
    margin-top: 10px;

}
#second-page{
    width: 420px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 5px;
    margin-top: 10px;
    display: none;
}
/* Remove borders */
.no-top {
    border-top: none;
}

.no-right {
    border-right: none;
}

.no-left {
    border-left: none;
}

.no-bottom {
    border-bottom: none;
}

.ghosts_position {
    font-size: 1.8em;
    /* height: 50px;
    width: 40px; */
    /* border: 2px solid red;
    border-radius: 50%; */
}

/* Maze players shape */
.player_position {
    font-size: 1.8em;
    /* height: 40px;
    width: 40px;
    border: 2px solid yellow;
    border-radius: 50%; */
}

.player_position .dir_left {
    transform: scale(-1, 1);
    ;
}

#finish_position {
    font-size: 1.8em;
    /* height: 40px;
    width: 40px;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 50%; */
}

/* Maze wrapper */
.maze {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 420px;
    height: 420px;
    background: #2A664F;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
}

/* Game Navigation section */
.maze_navigation {
    display: grid;
    grid-template-columns: repeat(3, minmax(45px, 45px));
    grid-template-rows: repeat(3, minmax(45px, 45px));
    ;
    grid-gap: 0;
    justify-content: center;
}

.navigation_buttons {
    font-size: 45px;
    text-align: center;
    margin: auto;
}

.navigation_buttons a {
    text-decoration: none;
    color: #2A664F;
}

/* Old CSS */
#startMazeBtn {
    height: 150px;
}

.difficulty-range {
    border: 1px solid #C24B2C;
}

.menu {
    display: grid;
    align-items: flex-start;
}