* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#main {
    position: absolute;
    box-sizing: border-box;
    background: #e5e5e5;
    width: 100vw;
    height: 896px;
    background-color: rgba(91, 179, 145, 1);
    overflow: hidden;
    --web-view-name: Js-design – 1;
    --web-view-id: main;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: fit;
    --web-enable-deep-linking: true;
}

#Maze_game {
    position: absolute;
    width: 450px;
    height: 485px;
    left: 19px;
    top: 354px;
    overflow: visible;
}

.maze_border {
    overflow: visible;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 2px solid red;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#walls {
    position: absolute;
    width: 374.372px;
    height: 449.022px;
    left: 1.515px;
    top: 35.978px;
    overflow: visible;
}

.Path_278 {
    overflow: visible;
    position: absolute;
    width: 3px;
    height: 279.086px;
    left: 322.829px;
    top: 0.001px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_279 {
    overflow: visible;
    position: absolute;
    width: 3px;
    height: 113.634px;
    left: 325.273px;
    top: 335.389px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_280 {
    overflow: visible;
    position: absolute;
    width: 49.099px;
    height: 3px;
    left: 325.273px;
    top: 206.522px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_281 {
    overflow: visible;
    position: absolute;
    width: 98.459px;
    height: 335.059px;
    left: 171.252px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_282 {
    overflow: visible;
    position: absolute;
    width: 100.445px;
    height: 65.277px;
    left: 167.766px;
    top: 385.245px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_283 {
    overflow: visible;
    position: absolute;
    width: 120.875px;
    height: 333.006px;
    left: 48.499px;
    top: 87.128px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_284 {
    overflow: visible;
    position: absolute;
    width: 3px;
    height: 115.708px;
    left: 48.499px;
    top: 227.599px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_285 {
    overflow: visible;
    position: absolute;
    width: 61.551px;
    height: 52.116px;
    left: 107.304px;
    top: 193.723px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_286 {
    overflow: visible;
    position: absolute;
    width: 220.918px;
    height: 90.128px;
    left: 47.294px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_287 {
    overflow: visible;
    position: absolute;
    width: 55.129px;
    height: 3px;
    left: 267.7px;
    top: 153.444px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_288 {
    overflow: visible;
    position: absolute;
    width: 103.576px;
    height: 3px;
    left: 0px;
    top: 385.245px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Ellipse_goal {
    position: absolute;
    overflow: visible;
    width: 28px;
    height: 28px;
    left: 337px;
    top: 443px;
}

#Direction_icons {
    position: absolute;
    width: 45.241px;
    height: 43.485px;
    left: 7px;
    top: 9px;
    overflow: visible;
}

.cirlcle_start {
    position: absolute;
    overflow: visible;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0px;
}

.arrow-right {
    overflow: visible;
    position: absolute;
    width: 17.09px;
    height: 28px;
    left: 28.15px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.arrow-down {
    overflow: visible;
    position: absolute;
    width: 15.03px;
    height: 26.286px;
    transform: translate(-137px, -613px) matrix(1, 0, 0, 1, 143.3228, 635.8274) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
}

#Elapsed_time {
    position: absolute;
    width: 291px;
    height: 29px;
    left: 20px;
    top: 320px;
    overflow: visible;
}

#Elapsed_time__ {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    width: 188px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -3px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.5px;
}

#ID00_00m {
    position: absolute;
    left: 188px;
    top: 0px;
    overflow: visible;
    width: 104px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -3px;
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.5px;
}

#tips_icon {
    position: absolute;
    width: 34.475px;
    height: 36px;
    left: 357px;
    top: 311px;
    overflow: visible;
}

#Group_70 {
    position: absolute;
    width: 34.475px;
    height: 36px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Path_324 {
    overflow: visible;
    position: absolute;
    width: 34.475px;
    height: 28.353px;
    left: 0px;
    top: 0.001px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_325 {
    overflow: visible;
    position: absolute;
    width: 21.334px;
    height: 30.266px;
    left: 6.57px;
    top: 5.734px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Footer_icons {
    position: absolute;
    width: 414px;
    height: 48px;
    left: 0px;
    top: 848px;
    overflow: visible;
}

#Login {
    position: absolute;
    width: 414px;
    height: 48px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Button {
    position: absolute;
    width: 414px;
    height: 48px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_120 {
    position: absolute;
    overflow: visible;
    width: 414px;
    height: 48px;
    left: 0px;
    top: 0px;
}

#Layer_2 {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 19px;
    top: 6px;
    overflow: visible;
}

#home {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Rectangle_1477 {
    opacity: 0;
}

.Rectangle_1477 {
    position: absolute;
    overflow: visible;
    width: 37px;
    height: 37px;
    left: 0px;
    top: 0px;
}

.Rectangle_1478 {
    position: absolute;
    overflow: visible;
    width: 7px;
    height: 12px;
    left: 15px;
    top: 21px;
}

.Path_293 {
    overflow: visible;
    position: absolute;
    width: 28px;
    height: 30.994px;
    left: 4.5px;
    top: 3.006px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_56 {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 356px;
    top: 5.672px;
    overflow: visible;
}

.Path_294 {
    overflow: visible;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_295 {
    overflow: visible;
    position: absolute;
    width: 26.668px;
    height: 26.668px;
    left: 5.166px;
    top: 5.166px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Group_46 {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 318px;
    top: 9px;
    overflow: visible;
}

.Path_290 {
    overflow: visible;
    position: absolute;
    width: 31px;
    height: 31px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_291 {
    overflow: visible;
    position: absolute;
    width: 27.532px;
    height: 27.337px;
    left: 1.733px;
    top: 2.035px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_296 {
    overflow: visible;
    position: absolute;
    width: 26px;
    height: 26.036px;
    left: 281px;
    top: 11px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#page_rank_bagde_page_rank_bagd {
    position: absolute;
    width: 17.846px;
    height: 25px;
    left: 249.461px;
    top: 11px;
    overflow: visible;
}

.Path_297 {
    overflow: visible;
    position: absolute;
    width: 18.846px;
    height: 26.723px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_298 {
    overflow: visible;
    position: absolute;
    width: 7.813px;
    height: 7.445px;
    left: 5.017px;
    top: 4.871px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Diff_range {
    position: absolute;
    width: 374px;
    height: 90px;
    left: 21px;
    top: 116px;
    overflow: visible;
}

#Me {
    position: absolute;
    width: 374px;
    height: 90px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

.Rectangle_510 {
    position: absolute;
    overflow: visible;
    width: 374px;
    height: 90px;
    left: 0px;
    top: 0px;
}

#Progress_Bar {
    position: absolute;
    width: 368px;
    height: 72px;
    left: 3px;
    top: 14px;
    overflow: visible;
}

#Difficulty {
    position: absolute;
    left: 14px;
    top: 0px;
    overflow: visible;
    width: 122px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -3px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(252, 253, 249, 1);
    letter-spacing: 0.5px;
}

.Path_364 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 232px;
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Progress_Bar_A51_Component_1 {
    position: absolute;
    width: 352px;
    height: 35px;
    left: 8px;
    top: 37px;
    overflow: visible;
}

.Rectangle_997 {
    position: absolute;
    overflow: visible;
    width: 352px;
    height: 4px;
    left: 0px;
    top: 15px;
}

.Rectangle_998 {
    position: absolute;
    overflow: visible;
    width: 232px;
    height: 4px;
    left: 0px;
    top: 15px;
}

.Ellipse_280 {
    position: absolute;
    overflow: visible;
    width: 35px;
    height: 35px;
    left: 214px;
    top: 0px;
}

.Path_353 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 352px;
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_365 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 102px;
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_366 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 102px;
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_367 {
    overflow: visible;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 46px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Stop_button {
    position: absolute;
    width: 370px;
    height: 91px;
    left: 22px;
    top: 215px;
    overflow: visible;
}

.Path_1 {
    overflow: visible;
    position: absolute;
    width: 370px;
    height: 91px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Stop {
    position: absolute;
    left: 101px;
    top: 31px;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -3px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.5px;
}

#Stop_icon {
    position: absolute;
    width: 10px;
    height: 25px;
    left: 33px;
    top: 33.5px;
    overflow: visible;
}

.Line_6 {
    overflow: visible;
    position: absolute;
    width: 4px;
    height: 29px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_7 {
    overflow: visible;
    position: absolute;
    width: 4px;
    height: 29px;
    left: 10px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}